<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uas_sia_mysql">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS_SIA_MYSQL"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PilihCustomerPendapatanLain"
            android:exported="true" />
        <activity
            android:name=".TransaksiPelunasanPiutang"
            android:exported="true" />
        <activity
            android:name=".PilihCustomer"
            android:exported="true" />
        <activity
            android:name=".JurnalUmum"
            android:exported="true" />
        <activity
            android:name=".TransaksiPiutang"
            android:exported="true" />
        <activity
            android:name=".DaftarTransaksiPenjualan"
            android:exported="true" />
        <activity
            android:name=".TransaksiPenjualan"
            android:exported="true" />
        <activity
            android:name=".UpdateCustomer"
            android:exported="true" />
        <activity
            android:name=".DetailCustomer"
            android:exported="true" />
        <activity
            android:name=".InputCustomer"
            android:exported="true" />
        <activity
            android:name=".MasterCustomer"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>